#root{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    color: #F5F5F5
}
h1, h2, h3, h4, h5, h6{
    font-family: "Fredoka", sans-serif;
}
div, p, a, link, label, button, span{
    font-family: 'Quicksand', sans-serif;
}